@font-face {
    font-family: "Splatfont 2", sans-serif;
    src: url("../Splatfont2.woff2") format("woff2"),
         url("../Splatfont2.woff") format("woff"),
         url("../Splatfont2.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --green: #4bfc6cbe; 
    --light-green: #92f2a4;
    --dark-green: #00db3e78;
    --darker-green: #002608;

    --yellow: #f8ff1e;
    --light-yellow: #ffff94;
    --dark-yellow: #404000;

    --black: #000000;
    --white: #ffffff;
}


body {
    font-family: "Splatfont 2", sans-serif;
    background-color: var(--green);
    background-image: url("../img/star-green.gif");
    background-repeat: inherit;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 200%;
    color: var(--yellow);
    text-shadow: 5px  5px var(--black);
}
h2{
    font-size: 100%;
    text-shadow: 2px  2px var(--white);
}
h3{
    font-size: 75%;
}

p{
    font-size: 80%;
}

button {
    font-family: "Splatfont 2", sans-serif;
    font-size: large;
    background-color: var(--yellow);
    border-radius: 5px;
    border: 5px solid var(--dark-yellow);
    width: large;
    box-shadow: 5px 5px var(--black);
    transition: background 0.2s, transform 0.1s;
}

button:active {
    color: var(--white);
    background-color: var(--light-green);
    border: 5px solid var(--darker-green);
    box-shadow: 5px 5px var(--white);
    transform: scale(0.90);
}

img {
    width: 20%;
    border-radius: 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.presentation{
    font-size: 160%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    text-align: center;
}

.explanation {
    font-size: 160%;
    text-align: center;
    padding: 1%;
    background-color: var(--green);
    border-radius: 15px;
    border: 10px solid var(--darker-green);
    box-shadow: 8px  8px var(--black);
}

@media (max-width: 600px) {
    h1{
    font-size: 220%;
    color: var(--yellow);
    text-shadow: 5px  5px var(--black);
    }
    h2{
    font-size: 110%;
    }
    h3{
        font-size: 85%;
    }
    button {
        font-size: larger;
        width: 95%;
    }
    p{
    font-size: 100%;
    }
    img {
    width: 50%;;
    }
    .presentation {
        font-size: 140%;
        padding: 0%;
    }
    .explanation {
        padding: 0%;
    }
};